spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/restaurant_teamv?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
    username: root
    password: ${MYSQL_PASSWORD}

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
      show-sql: true
      properties:
        hibernate.format_sql: true

logging:
  level:
    org.hibernate.SQL: debug

security:
  jwt:
    token:
      secret-key: ${JWT_SECRET_KEY}
      access:
        expire-length: 2592000000 #30Ïùº

openapi:
  base-url: https://openapi.gg.go.kr
  service-key: ${SERVICE_KEY}

schedules:
  cron:
    restaurant-collection: 0 0 2 * * *
    lunch-recommendation: 0 30 11 * * *

discord:
  bot: teamV
  webhook:
    url: ${WEBHOOK_URL}
    avatar_url: ${AVATAR_URL}
    author_url: ${AUTHOR_URL}
    author_icon: ${AUTHOR_ICON}
    footer_icon: ${FOOTER_ICON}

